[submodule "external/FraxFramework"]
	path = external/FraxFramework
	url = https://github.com/mastercuber55/Frax-Framework
[submodule "external/pebble"]
	path = external/pebble
	url = https://github.com/mastercuber55/pebble.git
